<div class="container mt__100">
<h2 class="h1 text-center mb-5">Rejestracja</h2>
  <div class="row">
  <div class="col-md-6">

    <div class="image m-auto text-center">
      <img id="avatar" (drop)="handleDropImage($event)"  class="rounded-circle avatar" src="https://via.placeholder.com/200C">

    </div>
    <div class="form-group mt-5 text-center">
      <input class="form-control-file file-input border border-white" type="file" name="image" (change)="getInputFile($event)">
      <p class="alert" role="alert">Przeciągnij avatar na obrazek, badź wybierz klikając tutaj</p>
    </div>

  </div>
  <div class="col-md-6">
    <div class="form">
      <div class="form-group position-relative">

        <input class="form-control d-inline" (change)="checkNick()" [(ngModel)]="user.nick" type="text" placeholder="Nick"><span class="position-absolute required__fields">*</span>

      </div>
      <div class="form-group position-relative">

        <input class="form-control d-inline" (change)="checkEmail()" [(ngModel)]="user.email" type="text" placeholder="Email"><span class="position-absolute required__fields">*</span>

      </div>

      <div class="form-group position-relative">
        <input class="form-control d-inline" [(ngModel)]="user.plainPassword" (change)="checkPassword()" type="password" placeholder="Hasło"><span class="position-absolute required__fields">*</span>

      </div>
      <div class="form-group position-relative">
        <input class="form-control d-inline" [(ngModel)]="repeatPassword" (change)="checkRepeatPassword()" type="password" placeholder="Powtórz hasło"><span class="position-absolute required__fields">*</span>

      </div>
      <div class="form-group">
        <input class="form-control" [(ngModel)]="user.name" type="text" placeholder="Imię">
      </div>

      <div class="form-group">
        <input class="form-control" type="text" [(ngModel)]="user.age" placeholder="Wiek">
      </div>

      <div class="form-group">
        <input class="form-control" type="text" [(ngModel)]="user.city" placeholder="Miasto">
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="men-option" name="sex" value="0" [(ngModel)]="user.sex">
        <label class="form-check-label" for="men-option">Facet</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="female-option" type="radio" name="sex"value="1" [(ngModel)]="user.sex">
        <label class="form-check-label" for="female-option">Babeczka</label>
      </div>

    </div>
  </div>

</div>
  <div class="row">
    <div class="col-12">
    <div class="form-group text-center mt-5">
      <button id="submit" [disabled]="checkFields()" role="button" class="d-inline btn rapowo__btn" (click)="checkFields() && registerUser()">Zarejestruj się!</button>
    </div>
    </div>
  </div>
</div>
