<div class="container nav-bg">
  <nav class="navbar navbar-expand-lg d-block">
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="navlink menu">{{ "Teksty" | translate }}</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="navlink menu" routerLink="/add-text">{{ "Dodaj tekst" | translate }}</a>

        </li>


      </ul>
      <a *ngIf="!user; else logged"  role="button" routerLink="/login" class="menu">{{ "Zaloguj się!" | translate }}</a>
      <ng-template #logged>
      <div ngbDropdown #dropdownMenu="ngbDropdown">
        <button ngbDropdownAnchor (click)="dropdownMenu.toggle()" class="navlink menu dropdown-toggle" data-toggle="dropdown">{{user.nick}}</button>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu__red">
          <a class="dropdown-item menu" [routerLink]="['profile',user.id]">{{ "Moje konto" | translate }}</a>
          <a class="dropdown-item menu" [routerLink]="['settings','edit-account']">{{ "Ustawienia konta" | translate }}</a>
          <a class="dropdown-item menu" (click)="logout()">{{ "Wyloguj" | translate }}</a>
        </div>
      </div>
      </ng-template>
    </div>
  </nav>
</div>
