<div class="container nav-bg">
    <nav class="navbar navbar-expand-lg d-block">
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="navlink btn menu">Teksty</button>
            </li>
            <li class="nav-item">
                <button class="navlink btn menu" routerLink="/add-text">Dodaj tekst</button>

            </li>




        </ul>
        <a role="button" routerLink="/registry" class="btn menu">Zaloguj się!</a>
      </div>
    </nav>
</div>
