.raper_left, .raper_right, .banner{
    height: 127px;
    background-size: contain;
    background-repeat: no-repeat;

}
.raper_left{

    background-image: url('../../../../assets/header/raper_left.png');
}
.banner{
    background-position: center;
    background-image: url('../../../../assets/header/napis.png');
}
.raper_right{

    background-image: url('../../../../assets/header/raper_right.png');
}
header{
  cursor: pointer;
}
