<div class="container mt__100">
  <h2 class="h1 text-center mb-5">Teksty</h2>
  <div class="row mb-5" *ngFor="let text of texts">
    <div class="offset-lg-1 col-lg-3 col-xs-12 p-3 author__content border">
      <div class="m-auto text-center">
        <img class="rounded-circle avatar" src="https://via.placeholder.com/200C">
      </div>
        <p class="author author__nick">{{text.author.nick}}</p>
        <p class="author author__sex">{{text.author.sex}}</p>
        <p class="author author__ratings">{{text.author.rating}}</p>


    </div>
    <div class="col-lg-7 col-xs-12 p-3 border position-relative">
      <h3 class="h2 text-center">{{text.title}}</h3>

      <p class="text__song">{{text.content}}</p>
      <div class="row position-absolute fixed-bottom">
        <div class="col-12 text-center">
          <button class="btn rapowo__btn" (click)="getOneText(text.id)">Czytaj więcej!</button>
        </div>
      </div>
    </div>
  </div>

</div>
