

img.avatar{
  width: 175px;
  height: auto;
  margin-bottom: 10px;
}
.profile{
  width: 100%;
  position: relative;
  height: 310px;
}
.background-image{
  width: 100%;
  height: auto;
}
.user-data{
  position: absolute;
  left: 20px;
  bottom: 10px;
  display: flex;
}
.v-bottom{
  vertical-align: bottom;
}
.description{
  position: relative;
}
.user-content-data{
  position: absolute;
  bottom: 0;
  left: 0;
}
.data-item{
  text-shadow: #011214 0 4px 4px;
  text-decoration: #011214;
}
.data-item p{
  margin-left: 4px;
}


.slide-info{
  overflow: hidden;
}
