<div class="container mt__100">
  <div class="row">
    <div *ngIf="!userExist; else userContainer">
      <h2 class="text-center h2 mb-5">{{"Nie znaleziono użytkownika" | translate}}</h2>
      <p class="mt__100 text-center">{{"Za" | translate}} {{seconds}} {{"zostaniesz przeniesiony na" |translate}} <a
        routerLink="/">{{"stronę główną" | translate}}</a></p>
    </div>
    <ng-template #userContainer>
      <div class="profile">
        <img class="background-image" [src]="background">
        <div class="user-data">
          <div class="user-avatar block">
            <img [src]="avatar" class="avatar">
          </div>
          <div class="description block">
            <div class="user-content-data">
              <div *ngFor="let item of objectKeys(personalData); let i = index"
                   class="data-item d-flex justify-content-between col-xs-12 col-md-6">
                <p>{{item | translate}} </p>
                <p *ngIf="item !== 'sex'">{{personalData[item] }}</p>
                <p *ngIf="item === 'sex'">{{personalData[item] | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
