<div>
  <span class="text-center">{{"Musisz potwierdzić hasłem usunięcie konta" |translate}}</span>
  <div class="form-group mt-1">
  <input [placeholder]="'Potwierdź hasło' | translate" class="form-control" [(ngModel)]="password" type="password" >
  </div>
  <div class="d-flex justify-content-between w-100">
    <button class="rapowo__btn-black btn" (click)="noDelete()">{{"Nie usuwaj" | translate}}</button>
    <button [disabled]="!password" class='rapowo__btn-black btn'(click)="verifyDeleting()">{{"Usuń konto" | translate}}</button>
  </div>
</div>
