.image-container{
  box-shadow: #c7141a 0 0 3px 4px;
  cursor: pointer;
  transition: box-shadow .5s;
  border-radius: 15px;
  height: 350px;
  line-height: 300px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.image-container:hover{
  box-shadow: #fff 0 0 3px 4px;
  transition: box-shadow .5s;
}
