<div>
  <span class="text-center">{{"Musisz podać nam swój nick" |translate}}</span>
  <div class="form-group mt-1">
    <input (keyup)="checkIsNickExists()" [placeholder]="'Nick' | translate" class="form-control" [(ngModel)]="nick" type="text" >
    <span *ngIf="verifyNick">{{"Nick jest zajęty" | translate}}</span>
  </div>
  <div class="w-100">
    <button [disabled]="!nick || verifyNick" class='rapowo__btn-black btn w-100' (click)="closeDialog()">{{"Rejestruj!" | translate}}</button>
  </div>
</div>
