<div class="container mt__100">
  <h2 class="h1 text-center mb-5">{{ "Email istnieje" | translate }}</h2>
  <p class="text-center mt__50">{{ "Adres email przypisany do Twojego konta istnieje w serwisie, podaj inny" | translate }}</p>
  <form (ngSubmit)="onSubmit()" [formGroup]="complementaryFormData">
    <div class="row">
      <div class=" col-md-6 col-xs-12 offset-md-3">
        <div class="form-group">
          <input class="form-control" type="text" [placeholder]="'Nick' | translate" formControlName="nick">
          <span
            *ngIf="nickVal.errors && nickVal.errors.required && (nickVal.touched || submit)">{{"Nick jest wymagany" | translate}}</span>
          <span
            *ngIf="nickVal.errors && nickVal.errors.email && (nickVal.touched || submit)">{{"Wpisano niepoprawny adres nick" | translate}}</span>
          <span *ngIf="nickVal.errors && nickVal.errors.nickExists && nickVal.touched">{{ "Nick jest już zajęty" | translate }}</span>

        </div>
        <div class="form-group">
          <input class="form-control" type="text" [placeholder]="'Email' | translate" formControlName="email">
          <span
            *ngIf="emailVal.errors && emailVal.errors.required && (emailVal.touched || submit)">{{"Email jest wymagany" | translate}}</span>
          <span
            *ngIf="emailVal.errors && emailVal.errors.email && (emailVal.touched || submit)">{{"Wpisano niepoprawny adres email" | translate}}</span>
          <span *ngIf="emailVal.errors && emailVal.errors.emailExists && emailVal.touched">{{ "Adres email jest już zajęty" | translate }}</span>

        </div>
        <button class="rapowo__btn btn"><span *ngIf="!submitted; else spinner">{{"Rejestruj!" | translate}}</span>
          <ng-template #spinner><img class="button-loader button-content" src="assets/loaders/button_loader.gif">
          </ng-template>
        </button>
      </div>
    </div>
  </form>
</div>
