
  <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="sendFormFn()">
    <div class="row">
      <div class="col-12">
        <app-background-image (bckImage)="addBackgroundImage($event)"></app-background-image>
      </div>
      <div class="col-md-6">
        <app-avatar (image)="addAvatar($event)"></app-avatar>
      </div>
      <div class="col-md-6">
        <div class="form">
          <div class="form-group position-relative">
            <input id="nick" class="form-control d-inline" formControlName="nick" type="text" [placeholder]="'Nick' | translate"><span
            class="position-absolute required__fields">*</span>
            <div>
              <span *ngIf="form.nick.errors && form.nick.errors.required && (form.nick.touched || submit)">{{ "Nick jest wymagany" | translate }}</span>
              <span *ngIf="form.nick.errors && form.nick.errors.pattern && form.nick.touched">{{ "Nick może zawierać tylko litery i cyfry" | translate }}</span>
              <span *ngIf="form.nick.errors && form.nick.errors.nickExists && form.nick.touched">{{ "Nick jest już zajęty" | translate }}</span>
            </div>
          </div>
          <div class="form-group position-relative">

            <input class="form-control d-inline" formControlName="email" type="text" [placeholder]="'Email' | translate"><span
            class="position-absolute required__fields">*</span>
            <span *ngIf="form.email.errors && form.email.errors.required && (form.email.touched || submit)">{{ "Email jest wymagany" | translate }}</span>
            <span *ngIf="form.email.errors && form.email.errors.email && form.email.touched">{{ "Wpisano niepoprawny adres email" | translate }}</span>
            <span *ngIf="form.email.errors && form.email.errors.emailExists && form.email.touched">{{ "Adres email jest już zajęty" | translate }}</span>
          </div>
          <div formGroupName="passwords">
            <div class="form-group position-relative">
              <input class="form-control d-inline" formControlName="password" type="password" [placeholder]="'Hasło' | translate"><span
              class="position-absolute required__fields">*</span>
              <span *ngIf="passwords.get('password').errors && passwords.get('password').errors.required && (passwords.get('password').touched || submit)">{{ "Hasło jest wymagane" | translate }}</span>
              <span *ngIf="passwords.get('password').errors && passwords.get('password').errors.pattern && passwords.get('password').touched">{{ "Hasło powinno zawierać 6 znaków i conajmniej jedną cyfrę" | translate }}</span>
            </div>
            <div class="form-group position-relative">
              <input class="form-control d-inline" formControlName="repeatPassword" type="password"
                     [placeholder]="'Powtórz hasło' | translate"><span class="position-absolute required__fields">*</span>
              <span *ngIf="passwords.get('repeatPassword').errors && passwords.get('repeatPassword').errors.required && (passwords.get('repeatPassword').touched || submit)">{{ "Musisz powtórzyć hasło" | translate }}</span>
              <span *ngIf="passwords.get('repeatPassword').errors && passwords.get('repeatPassword').errors.matchPasswords && passwords.get('repeatPassword').touched">{{ "Hasła się nie zgadzają" | translate }}</span>
            </div>

          </div>
          <div class="form-group position-relative">
            <input [placeholder]="'Imię' | translate" type="text" class="form-control d-inline" formControlName="name">
          </div>
          <div class="form-group position-relative">
            <input [placeholder]="'Miasto' | translate" type="text" formControlName="city" class="form-control d-inline">
          </div>
          <div class="form-group position-relative">
            <input [placeholder]="'Data urodzenia' | translate" NgbDatepickerI18n [(ngModel)]="datepicker.startDate"  [startDate]="datepicker.startDate" [minDate]="datepicker.minDate" [maxDate]="datepicker.maxDate" (click)="d.toggle()" type="text" formControlName="birthdate" ngbDatepicker #d="ngbDatepicker"  class="position-relative form-control">
            <span *ngIf="registerForm.get('birthdate').errors && registerForm.get('birthdate').touched">{{ "Wpisz lub wybierz poprawną datę, lub pozostaw to pole puste" | translate }}</span>
          </div>
          <div class="form-group position-relative">
            <div  class="form-check form-check-inline">
              <input (click)="unCheckSex($event)" id="sex-female" formControlName="sex" value="female" class="form-check-input" type="radio">
              <label for="sex-female" class="form-check-label">{{ "Laseczka" | translate }}</label>
            </div>
            <div class="form-check form-check-inline">
              <input (click)="unCheckSex($event)" id="sex-male" value="male" formControlName="sex" class="form-check-input" type="radio">
              <label for="sex-male" class="form-check-label">{{ "Facet" | translate}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group text-center mt-5">
          <button id="submit" role="button" class="d-inline btn rapowo__btn"><span class="button-content" *ngIf="!submitted; else spinner">{{this.buttonText | translate}}</span><ng-template #spinner><img class="button-content button-loader" src="assets/loaders/button_loader.svg"></ng-template></button>
        </div>
      </div>
    </div>
  </form>

