.avatar{
  border-radius: 50%;
  margin: auto;
  height: 250px;
  width: 250px;
  background-repeat: no-repeat;
  vertical-align: middle;
  text-align: center;
  box-shadow: #c7141a 0 0 3px 4px;
  line-height: 250px;
  cursor: pointer;
  transition: box-shadow .5s;
}
.avatar:hover{
  box-shadow: #fff 0 0 3px 4px;
  transition: box-shadow .5s;
}
.close{
  right: 0;
  top: 0;
  color: #fff;
  transition: color .5s;
  box-shadow: none;
}
.close:hover{
  color: #c7141a;
  transition: color .5s;
  box-shadow: none;
}
.avatar-info{
  vertical-align: middle;
}
input[type="file"]{
  opacity: 0;
  z-index: 1;
}
.avatar-label{
  margin: auto;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7141a;
  color: #FFF;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -25px;
  z-index: 2;
  box-shadow: #fff 0 0 3px 2px;
  transition: color .5s;
}
.avatar-label:hover{
  color: #011214;
  transition: color .5s;
}
