body
{
    background-color: #021416 !important;
    color: #FFF !important;
}
.mt__100{
  margin-top: 100px;
}
.author__content{
  background-image: linear-gradient(#810319,#c7141a);
  background-color: ;
}
