@font-face {
  font-family: hvd;
  src: url(assets/fonts/hvd-peace/HVD_Peace.ttf) ;
}
body
{
    background-color: #011214 !important;
    color: #FFF !important;
}
.mt__100{
  margin-top: 100px;
}
.mb__50{
  margin-bottom: 50px;
}


.required__fields{
  font-size: 1.4em;
  color: #c7141a;
  margin: 5px 0 2px 10px;
}
button:focus, button:active{
  box-shadow: none !important;
}
.rapowo__btn{
  margin: auto;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7141a;
  color: #FFF;
  font-weight: bold;
}
.button-content{
  flex: 0 0 40px;
}
.button-loader{
  height: 40px;
}
h1,h2,h3,h4,h5,h6,h7{
  font-family: hvd;
}
a, a:hover, a:active, a:visited{
  color: #c7141a;
}
.nav-item:focus, li:focus, .btn:focus{
  box-shadow: none;
}
