@font-face {
  font-family: hvd;
  src: url(assets/fonts/hvd-peace/HVD_Peace.ttf) ;
}
body
{
    background-color: #011214 !important;
    color: #FFF !important;
}
.mt__100{
  margin-top: 100px;
}
.mb__50{
  margin-bottom: 50px;
}


.required__fields{
  font-size: 1.4em;
  color: #c7141a;
  margin: 5px 0 2px 10px;
}

.rapowo__btn, .rapowo__btn:focus{
  margin: auto;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7141a;
  color: #FFF;
  font-weight: bold;
  box-shadow: #fff 0 0 3px 2px;
  transition: color .5s;

}
btn:focus {
  box-shadow: #fff 0 0 3px 2px;
}
.rapowo__btn:hover{
  color: #011214;
  transition: color .5s;
}

.button-content{
  /*flex: 0 0 40px;*/
}
.button-loader{
  height: 40px;
}
h1,h2,h3,h4,h5,h6{
  font-family: hvd;
}
a, a:hover, a:active, a:visited{
  color: #c7141a;
}
.nav-item:focus, li:focus{
  box-shadow: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-modal mat-dialog-container{
  background-color: #c7141a;
  color: #fff;
  box-shadow: #fff 0 0 4px 3px;
}
input[type="text"]:focus, input[type="password"]:focus{
  box-shadow: #c7141a 0 0 3px 4px;
  transition: box-shadow .5s;
}
.rules-dialog mat-dialog-container{
  background-color: #011214;
  color: #fff;
  box-shadow: #fff 0 0 4px 4px;
}

ngb-datepicker, ngb-datepicker-navigation, ngb-datepicker-month-view, ngb-datepicker-navigation-select {
  background-color: #011214 !important;
}
.ngb-dp-weekday, .ngb-dp-month{
  background-color: #011214 !important;
  color: #fff !important;
  box-shadow: none !important;

}
.btn-light{
  color: #fff !important;
  box-shadow: none !important;

}
ngb-datepicker-navigation-select select{
  color: #fff !important;
  background-color: #c7141a !important;
  border: none !important;
  box-shadow: none !important;
}

.ngb-dp-weekday:hover, .ngb-dp-weekday:focus, .btn-light:hover, .btn-light:focus, .btn-light:active, .bg-primary{
  background-color: #c7141a !important;
  box-shadow: #FFFFFF !important;
  border: none !important;
}
.ngb-dp-day:focus, .bg-primary:focus, .ngb-dp-day:active, .bg-primary:active, .btn-light:active, .text-white:focus  {
  box-shadow: none !important;
  border: none !important;
}
.ngb-dp-week{
  padding: 0 !important;
}
.active, .active:focus{
  background-color: #c7141a !important;
  box-shadow: none !important;
}
.ngb-dp-navigation-chevron{
  color: #c7141a !important;
}
div:focus{
  outline: 0 !important;
  box-shadow: none !important;
}
.mat-tab-link {
  color: #fff;
  font-size: 1.1em;
}
.mat-tab-link:visited{
  color: #fff;
}
.mat-tab-link:active, .mat-tab-link:focus{
  color: #c7141a;
}
.mat-tab-link:hover{
  text-decoration: none;
}
.mat-ink-bar{
  background-color: #c7141a !important;
  border: none;
}
.mat-ripple-element {
  background-color: rgba(199, 20, 26, .4);
}
.rapowo__btn-black{
  width: 150px;
  background-color: #011214;
  color: #fff;
  box-shadow: #fff 0 0 4px 3px;
  display: inline-block;
}
.rapowo__btn-black:hover{
  box-shadow: #fff 0 0 4px 3px;
}
.container{
  position: relative;
}
.avatar-label{
  margin: auto;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7141a;
  color: #FFF;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -25px;
  z-index: 2;
  box-shadow: #fff 0 0 3px 2px;
  transition: color .5s;
}
.avatar-label:hover{
  color: #011214;
  transition: color .5s;
}
input[type="file"]{
  opacity: 0;
  z-index: 1;
}
.avatar{
  border-radius: 50%;
  margin: auto;
  height: 175px;
  width: 175px;
  background-repeat: no-repeat;
  vertical-align: middle;
  text-align: center;
  box-shadow: #c7141a 0 0 3px 4px;
  line-height: 175px;
  cursor: pointer;
  transition: box-shadow .5s;
}
.text-content{
  color: #fff;
}
pre{
  color: #fff;
}
.buttons{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.small-button{
  font-size: 0.8em;
  width: auto;
  height: auto;
  padding: 7px 15px 7px 15px;

}
.song-border{
  border-radius: 15px;
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
  padding: 0;
  overflow: hidden;

}
.profile{
  background-size: cover;
  background-repeat: no-repeat;
}
.profile-header{
  width: 100%;
  padding: 20px 0 0 10px;
}
