<div class="container">
  <h2 class="mb-5 h2 text-center mt__100">{{ "Resetowanie hasła" | translate}}</h2>

  <form (ngSubmit)="submitForm()" [formGroup]="resetPasswordForm">
    <div class="row">
      <div class=" col-md-6 col-xs-12 offset-md-3">
        <div class="form-group">
          <input class="form-control" type="text" [placeholder]="'Email' | translate" formControlName="email">
          <span
            *ngIf="emailField.errors && emailField.errors.required && (emailField.touched || submit)">{{"Email jest wymagany" | translate}}</span>
          <span
            *ngIf="emailField.errors && emailField.errors.email && (emailField.touched || submit)">{{"Wpisano niepoprawny adres email" | translate}}</span>
        </div>
        <button class="rapowo__btn btn"><span *ngIf="!submitted; else spinner">{{"Zresetuj hasło!" | translate}}</span>
          <ng-template #spinner><img class="button-loader button-content" src="assets/loaders/button_loader.gif">
          </ng-template>
        </button>
      </div>
    </div>
  </form>
</div>
